
.top-cloud{
    position:absolute;
    right:300px;
    top:20px;
      
}
div.top-container{
    background-color: mediumaquamarine;
    height: 200px;
    width:300px;
    position:relative;
    margin: 0 auto;
    display:block;
    margin-top:70px;
    
}
.bottom-cloud{
    position:absolute;
    left:300px;
    top:190px;
    bottom:0;
}
h1{
    margin: 0 auto;
    text-align: center;
    font-family: 'Sacramento', serif;
    font-size: 50px;
    width: 300px;

    
    
 
    
}
.programador-electricista{
   
    width:300px;
    text-align:center;
    font-family: 'Merriweather', serif;
    

}
body{
    margin-top: 0px;
    margin-left: 0px;
    background-color: mediumaquamarine;

}
.mountain{
    position:relative;
    margin:0 auto 0 auto;
    display:block;
    width: 786px;
    height: 357px;
}
div.Middle-container{
    background-color: maroon;
    height: 200px;
    width: 200px;
    position: relative right;
    
}
div.Bottom-container{
    background-color: rgb(23, 162, 172);
    height: 200px;
    width: 200px;
    margin-top: 0px;
    margin-left:0;
    margin-bottom:0;
    
}
h2{
    position:relative;
    text-align:center;
    
}
.foto-juan{
    position:relative;
    margin:30px auto 0 auto ;
    display: block;
    width:200px;
    float:center;
    
    
    
}
p{
    text-align: center;
}
table{
    position:relative;
    margin: 0 auto;
}
h3{
    text-align: center;
}
ul{
   position: relative;
   text-align: center;
   list-style-type: none;
   padding:0;
    
}
.contact-me{
    text-align: center;
}